POSTGRES_USER=replace_me
POSTGRES_PASSWORD=replace_me
POSTGRES_DB=umd_schedule_builder
POSTGRES_TEST_DB=umd_schedule_builder_test
POSTGRES_PORT=5432
DATABASE_URL=postgresql://replace_me:replace_me@localhost:5432/umd_schedule_builder
TEST_DATABASE_URL=postgresql://replace_me:replace_me@localhost:5432/umd_schedule_builder_test
INGEST_SEMESTER=202608
INGEST_DEPARTMENT=CMSC
INGEST_INTERVAL_SECONDS=300
